.body12
{
    background-image:url("https://previews.123rf.com/images/9dreamstudio/9dreamstudio1909/9dreamstudio190903117/130430106-travelling-background-with-tourist-accessories-on-green-wooden-table-top-view-copy-space-frame.jpg");
}
#d
{
    border-radius: 20px;
    height:25px;
}
#p
{
    border-radius: 20px;
    height:25px;
}
#c
{
    border-radius: 20px;
    height:25px;
}
#w
{
    border-radius: 20px;
    height:50px;
    size:70px;
}
.mn{
    border-style:double;
    margin-left:500px;
    margin-right:500px;
    border-radius: 50px;
}
