.n
{
border-style:double;
margin-left:30%;
padding: 20;
padding-top: 2%;
padding-bottom: 5%;
margin-right:30%;
font-family: Garamond, serif;
}
.zz{
    background-image:url("https://img.freepik.com/premium-photo/toy-airplane-with-camera-yellow-light-blue-background_319172-2632.jpg?w=2000");
}