.bo
{
    border-style: double;
    margin-left: 300px;
    margin-right: 300px;
}


/* background-image:url("https://images.unsplash.com/photo-1520250497591-112f2f40a3f4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjR8fGhvdGVsfGVufDB8fDB8fHww&w=1000&q=80"); */


.la
{
    height:20px;
    width:190px;
}