
.k
{
    float:right;
    padding-left: 8%;
    margin-right:2%;
    color:black;
    cursor: pointer;
}

 /* body{
    background-image:url("https://img.freepik.com/free-vector/realistic-travel-background-with-elements_52683-77784.jpg?w=2000  ");
}   */
.sm
{
    margin-top: 530px;
}

.cv
{
    margin-left: -70px;
    padding-bottom:-200px;
}
.jhk{
    float:left;
}