.x
{
   margin: 50%; 
    border: 50%; 
   
}
.k
{
    float:right;
    padding-left: 8%;
    margin-right:2%;
}
.z{
    float: right;
    margin-right: 5%;
    margin-left: 5%;


}

.ab{
    background-image:url("https://wallpapers.com/images/featured/travel-ibk7fgrvtvhs7qzg.jpg");
} 