.pa
{
    border-style:double;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-left:25%;
    margin-right:25%;
}
{
    background-image:url("https://png.pngtree.com/thumb_back/fh260/back_our/20190625/ourmid/pngtree-blue-mobile-phone-scan-code-payment-technology-banner-background-image_260854.jpg");
}