
.jk
{
    background-image:url("https://img.freepik.com/free-vector/flat-travel-background_23-2148043314.jpg");
   width:620px;
    height:700px;
margin-left:20px;
}
.lm{
    float: right;
    margin-left: 600px;
}
.nl{
    margin-top: -350px;
    border-style: double;
    margin-left: 1000px;
}
.nm
{
    float: right;
}
.hj
{
    margin-left: 300px;
    margin-right: 80px;
    
}
.hl
{
    margin-right: 200px;
    margin-left: -300px;
}

